extends layout

block content
  //- .table-bordered.table-responsive
  table#studentTable.table.table-striped.table-dark.table-hover.table-sm.table-borderless
    thead
      tr
        th(scope='col') Image
        th(scope='col') Name
        th(scope='col') Index
        th(scope='col') Gender
        th(scope='col') Date of Birth
        th(scope='col') Address
        th(scope='col') JMBG
        th(scope='col') Email
        th(scope='col') Phone
        th(scope='col') Year
        th(scope='col') Field

    tbody
      each student in students
        tr
          th.align-middle(scope='row')
            img.avatar(src=`${student.image}`)
          th.align-middle(scope='row')= `${student.firstName} (${student.parentName}) ${student.lastName}`
          th.align-middle(scope='row')= student.index
          th.align-middle(scope='row')= student.gender
          th.align-middle(scope='row')= student.dateOfBirth
          th.align-middle(scope='row')= student.addressOfBirth
          th.align-middle(scope='row')= student.jmbg
          th.align-middle(scope='row')= student.email
          th.align-middle(scope='row')= student.phone
          th.align-middle(scope='row')= student.year
          th.align-middle(scope='row')= student.field
